{% extends 'base.html' %}
{% load static %}
{% block title %}Sprinkler details{% endblock %}
{% block head %}
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Aggiungi il CSS di Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  
  <!-- Stile per il contenitore della mappa -->
  <style>
    #map {
      height: 400px;
    }
  </style>
<style>
    /* Aggiungi questo stile al tuo CSS o nel tag style del tuo template */
    .custom-switch {
      display: flex; /* Utilizza flexbox per allineare gli elementi interni */
      align-items: center; /* Centra verticalmente gli elementi */
    }
    
    .custom-switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .custom-slider {
      position: relative; /* Rimuovi absolute e imposta relative */
      cursor: pointer;
      width: 60px; /* Imposta una larghezza fissa per lo slider */
      height: 34px;
      margin-left:70px;
      background-color: #1f414d;; /* Colore di default dello slider */
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
    }
    
    .custom-slider:before {
      content: "";
      height: 26px;
      width: 26px;
      position: absolute;
      top: 4px;
      left: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
    
    .custom-switch input:checked + .custom-slider {
      background-color: #377c85; /* Colore quando lo switch è attivato */
    }
    
    .custom-switch input:checked + .custom-slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    input[type="checkbox"] {
        transform: scale(1.5); /* Aumenta le dimensioni della checkbox */
        
    margin-left: 10px;

    }

</style>
<link href='{% static "css/forms.css" %}' rel="stylesheet">'
{% endblock %}
{% block content %}
<div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4">Sprinkler details <span class="text-primary"></span>  </h1>
                    <p class="animated fadeIn mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet
                        sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p>
                </div>
                <div class="col-md-6 animated fadeIn">
                    <img class="img-fluid" src='{% static "img/irrigatore.jpeg" %}' alt="">
 
                    
                </div>
            </div>
        </div>
        <!-- Header End -->


        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mx-auto" style="padding: 80px; padding-bottom:0px;">

        
                    <form method="post">
                        {% csrf_token %}
        
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-3">
                                <label for="{{ form.nome.id }}" style="color: #377c85;">Name:</label>
                                {{ form.nome }}
                            </div>
                       
                            <div class="form-group col-md-12 mb-3" >
                                <label for="{{ form.latitudine.id }}" style="color: #377c85;">Latitude:</label>
                                {{ form.latitudine}}
                            </div>
        
                            <div class="form-group col-md-12 mb-3" style="margin-top: 20px;">
                                <label for="{{ form.longitudine.id }}" style="color: #377c85;">Longitude:</label>
                                {{ form.longitudine }}
                            </div>
                            <div class="form-group col-md-12 mb-3" style="margin-top: 20px;">
                                <label for="{{ form.longitudine.id }}" style="color: #377c85;">Quota:</label>
                                {{ form.quota }}
                            </div>
                            <div class="form-group col-md-12 mb-3" style="margin-top: 20px;">
                                <label for="{{ form.attivo.id }}" style="color: #377c85;">Is active:</label>
                                <div style="display: inline-block; vertical-align: middle;">
                                    {{ form.attivo }}
                                </div>
                            </div>
                            <div class="form-group col-md-12 mb-3" style="margin-top: 20px;">
                                <label for="{{ form.secret.id }}" style="color: #377c85;">Codice sul retro:</label>
                                <div style="display: inline-block; vertical-align: middle;">
                                    {{ form.secret }}
                                </div>
                            </div>
                            <div class="form-group col-md-12 mb-7" style="margin-top: 30px;">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                                
                            </div>
                        </div>
                 
        
                        
                    </form>


                   
                </div>
        
                <div class="col-md-6" style="margin-top: 52px; color: #1f414d;">
                    <div class="row ">
                        <div class="col-md-6" style=" color: #1f414d;">
                    <h2 style="">Sprinkler position:</h2>
                        </div>
                        <div class="col-md-6" style="color: #1f414d;margin-top: 4px;">
                            <div class="custom-switch">
                                <input class="form-check-input" type="checkbox" id="toggleMapClick">
                                <label class="custom-slider" for="toggleMapClick"></label>
                                <p class="sad" style="margin: auto; padding-left: 10px; font-size: 19px; color: #1f414d; font-weight: 600;">
                                    Enable Map Click
                                  </p>
                                
                              </div>
                        </div>
                    </div>
                    <div id="map"></div>
                </div>
                <div style="margin-top:40px;">
            </div>
            
        </div>


    </div>

        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

        <script>
            var newIcon = L.icon({
                iconUrl: '{% static "img/marker3.png" %}',
                iconSize: [38, 45],
                iconAnchor: [22, 64],
                popupAnchor: [-3, -76],
            });
            var mapClickEnabled = false;
            var markers = []; // Array per mantenere traccia dei marker
        
            // Inizializza la mappa con una posizione di default
            var map = L.map('map').setView([41, 12], 5);
        
            document.getElementById('toggleMapClick').addEventListener('click', function () {
                mapClickEnabled = !mapClickEnabled;
            });

            

            document.getElementById('id_latitudine').addEventListener('input', function () {
                var newLat = parseFloat(this.value);
                var newLon = parseFloat(document.getElementById('id_longitudine').value);
                updateIrrigatoreMarkerPosition(newLat, newLon);
            });
        
            irrigatoreMarker= null;
            document.getElementById('id_longitudine').addEventListener('input', function () {
                var newLat = parseFloat(document.getElementById('id_latitudine').value);
                var newLon = parseFloat(this.value);
                updateIrrigatoreMarkerPosition(newLat, newLon);
            });
            // Aggiungi un gestore di eventi per il clic sulla mappa
            map.on('click', function (e) {
                if (mapClickEnabled) {
                    var lat = e.latlng.lat;
                    var lon = e.latlng.lng;
        
                    // Rimuovi tutti i marker esistenti dalla mappa
                    if(irrigatoreMarker){
                        map.removeLayer(irrigatoreMarker);
                    }
                    
                    
        
                    // Crea un marker con le coordinate e aggiungilo alla mappa
                    irrigatoreMarker = L.marker([lat, lon])
                        
                        .addTo(map);
        
                    // Aggiorna i valori dei campi di latitudine e longitudine nel form
                    document.getElementById('id_longitudine').value = lon;
                    document.getElementById('id_latitudine').value = lat;
        
                    // Apri una finestra popup con le coordinate del marker
                    irrigatoreMarker.bindPopup('Latitude: ' + lat + '<br>Longitude: ' + lon).openPopup();
        
                    
                }
            });
        
            // Funzione per rimuovere tutti i marker dalla mappa
            function removeMarkers() {
                for (var i = 0; i < markers.length; i++) {
                    map.removeLayer(markers[i]);
                }
                markers = []; // Svuota l'array dei marker
            }
        
            // Funzione per aggiornare la posizione dell'irrigatoreMarker
            function updateIrrigatoreMarkerPosition(lat, lon) {
                if(irrigatoreMarker){
                    map.removeLayer(irrigatoreMarker);
                }

                irrigatoreMarker = L.marker([lat, lon])
                        
                .addTo(map);
                irrigatoreMarker.bindPopup('<b>{{ irrigatore.nome }}</b><br>Latitude: ' + lat + '<br>Longitude: ' + lon).openPopup();
            }
        
            // Aggiungi un layer della mappa di OpenStreetMap
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);
        
            // Aggiungi il marker dell'irrigatore sulla mappa
          
            
            
        </script>        


        
        

    
        
        
{% endblock %}
