<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    {% block nav %}
        <nav class="nav" style="background-color: #333; padding: 10px">
            <ul class="links">
                {% if user.is_authenticated and user.is_staff %}
                    <li><a href="{% url 'website:logout' %}">Logout</a></li>
                {% elif user.is_authenticated %}
                    <li><a href="#">Azione1</a></li>
                    <li><a href="#">Azione2</a></li>
                    <li><a href="{% url 'website:logout' %}">Logout</a></li>
                {% else %}
                    {% if not 'login' in request.path %}
                        <li><a href="{% url 'website:login' %}" class="nav__link">Login</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    {% endblock %}

    {% block content %}{% endblock %}

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
