{% extends 'base.html' %}
{% load static %}
{% block title %}Master e Igrometri sulla Mappa{% endblock %}
{% block head %}
<link href='{% static "css/forms.css" %}' rel="stylesheet">'
{% endblock %}
{% block content %}
<div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4">Hygrometer Stats <span class="text-primary"></span>  </h1>
                    <p class="animated fadeIn mb-4 pb-2">Display and edit Hygrometer data, check the last measurements with the graph.</p>
                </div>
                <div class="col-md-6 animated fadeIn">
                    <img class="img-fluid" src='{% static "img/img6.jpeg" %}' alt="">
 
                    
                </div>
            </div>
        </div>
        <!-- Header End -->


        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mx-auto" style="padding: 80px;">
                    <h1  style="color: #377c85;">{{ igrometro.nome }}</h1>
                    <p style="font-size: 25px"  style="color: #377c85;">ID: {{ igrometro.id }}</p>
        
                    <form method="post">
                        {% csrf_token %}
        
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-3">
                                <label for="{{ form.nome.id }}"  style="color: #377c85;">Name:</label>
                                {{ form.nome }}
                            </div>
                       
                            <div class="form-group col-md-12 mb-3" >
                                <label for="{{ form.latitudine.id }}"  style="color: #377c85;">Latitude:</label>
                                {{ form.latitudine }}
                            </div>
        
                            <div class="form-group col-md-12 mb-3" style="margin-top: 20px;">
                                <label for="{{ form.longitudine.id }}"  style="color: #377c85;">Longitude:</label>
                                {{ form.longitudine }}
                            </div>
                            <div class="form-group col-md-12 mb-3" style="margin-top: 20px;">
                                <label for="{{ form.longitudine.id }}"  style="color: #377c85;">Master:</label>
                                {{ form.master }}
                            </div>
                            <div class="form-group col-md-12 mb-7" style="margin-top: 30px;">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                                
                            </div>
                        </div>
                 
        
                        
                    </form>
                </div>
        
                <div class="col-md-6">
                   <canvas id="myChart" width="400" height="200" style="
                   padding-bottom: 150px;
                   height: 587px; margin-top: 100px;
               "></canvas>
                </div>
            </div>
            
        </div>

        

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Recupera i dati dal template Django
                var misurazioni = {{ igrometro.misurazioni|safe }};
                var igrometroId = "{{ igrometro.id }}"; // Ottieni l'ID dell'igrometro dal template Django
                console.log("Qua")
            
               // Estrai le date e l'umidità
var lastFifteenMeasurements = misurazioni.slice(-10); // Selezione delle ultime 10 misurazioni

var dateLabels = lastFifteenMeasurements.map(function(misurazione) {
    return misurazione.data;
});
console.log(dateLabels);

var umiditaData = lastFifteenMeasurements.map(function(misurazione) {
    return misurazione.umidita;
});
                console.log(umiditaData)
            
                // Crea il grafico
                var ctx = document.getElementById('myChart').getContext('2d');
                
                const colors = {
                    purple: {
                        default: "rgba(55, 124, 133, 1 )",
                        half: "rgba(55, 124, 133, 0.5 )",
                        quarter: "rgba(55, 124, 133, 0.25 )",
                        zero: "rgba(55, 124, 133, 0 )"
                    },
                    indigo: {
                        default: "rgba(80, 102, 120, 1)",
                        quarter: "rgba(80, 102, 120, 0.25)"
                    }
                };
            
                const weight = umiditaData;
            
                const labels = dateLabels;
            
                ctx.canvas.height = 100;
            
                gradient = ctx.createLinearGradient(0, 25, 0, 600);
                gradient.addColorStop(0, colors.purple.half);
                gradient.addColorStop(0.35, colors.purple.quarter);
                gradient.addColorStop(1, colors.purple.zero);
            
                const options = {
                    type: "line",
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                id:'umi',
                                label: 'Umidità',
                                fill: true,
                                backgroundColor: gradient,
                                pointBackgroundColor: colors.purple.default,
                                borderColor: colors.purple.default,
                                data: weight,
                                lineTension: 0.2,
                                borderWidth: 2,
                                pointRadius: 3,
                    
                            }
                        ]
                    },
                    options: {
                        maintainAspectRatio: false, 
                        layout: {
                            padding: 10
                        },
                        responsive: true,
                        legend: {
                            display: false
                        },
                        scales: {
                            y: {
                                
                                suggestedMin: 0,
                                suggestedMax: 100,

                              }
    
                        },
                        
                    }
                };
                
                
                var myLineChart; // Variabile globale per il grafico
            
                window.onload = function () {
                    myLineChart = new Chart(ctx, options); // Inizializzazione del grafico
                    Chart.defaults.global.defaultFontColor = colors.indigo.default;
                    Chart.defaults.global.defaultFontFamily = "Fira Sans";
                };
            
            
                function fetchDataAndUpdateChart(igrometroId) {
                    // Effettua una richiesta Ajax per ottenere i dati aggiornati
                    fetch(`/update_graph/${igrometroId}/`)
                        .then(response => response.json())
                        .then(data => {
                            var lastFifteenMeasurements = data.slice(-10);
            
                            // Estrai le date e l'umidità dalle ultime 15 misurazioni
                            var dateLabels = lastFifteenMeasurements.map(misurazione => misurazione.data);
                            var umiditaData = lastFifteenMeasurements.map(misurazione => misurazione.umidita);
                            console.log(lastFifteenMeasurements)
                            
                            // Aggiorna i dati del grafico utilizzando la variabile globale
                            myLineChart.data.labels = dateLabels;
                            myLineChart.data.datasets[0].data = umiditaData;
                            myLineChart.update();
                        })
            
            
                        .catch(error => {
                            console.error('Si è verificato un errore durante il recupero dei dati:', error);
                        });
                }
            
            
            
                // Aggiorna il grafico ogni tot millisecondi (ad esempio, ogni 5 secondi)
                setInterval(() => {
                    fetchDataAndUpdateChart(igrometroId);
                }, 1000);
            });
            
        </script>
        
          
{% endblock %}
