{% extends 'base.html' %}

{% block title %}Master e Igrometri sulla Mappa{% endblock %}

{% block content %}
    <h1>Master e Igrometri sulla Mappa</h1>
    <div id="map" style="height: 400px"></div>

    <ul>
        {% for master in masters %}
            <li>{{ master.nome }} (ID: {{ master.id }})</li>
            <ul>
                {% for igrometro in master.igrometro_set.all %}
                    <li>{{ igrometro.nome }} {{ igrometro.longitudine }} {{ igrometro.latitudine }} (ID: {{ igrometro.id }}), ultime misurazioni: {{ igrometro.misurazioni }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        {% load static %}
        var map = L.map('map').setView([{{ masters.0.latitudine }}, {{ masters.0.longitudine }}], 10);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        var igrometroIcon = L.icon({
            iconUrl: '{% static "img/marker.png" %}',
            iconSize: [20, 22],
            iconAnchor: [22, 64],
            popupAnchor: [-3, -76],
        });

        {% for master in masters %}
            L.marker([{{ master.latitudine }}, {{ master.longitudine }}])
                .bindPopup("Nome: {{ master.nome }}<br>ID: {{ master.id }}")
                .addTo(map);

            {% for igrometro in master.igrometro_set.all %}
                L.marker([{{ igrometro.latitudine }}, {{ igrometro.longitudine }}], {icon: igrometroIcon})
                    .bindPopup("Nome: {{ igrometro.nome }}<br>ID: {{ igrometro.id }}")
                    .addTo(map);
            {% endfor %}
        {% endfor %}
    </script>
{% endblock %}
