[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
django-allauth = "*"
psycopg2 = "*"
paho-mqtt = "*"
schedule = "*"
celery = "*"
django-celery-beat = "*"
django-celery-results = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
