{% extends 'base.html' %}



{% block head %}

{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% endblock %}

{% block title %} Logout {% endblock %} 

{% block header1 %}
  <h1>Pagina di Logout</h1>
{% endblock %}

{% block content %} 
<div class="hero">
  <h2 class="titolo_logout" style="color: #377c85; font-size: 40px;">Logout Successful</h2>
  <h2 class="sottotitolo_logout" style="color: #377c85; font-size: 34px;">See you soon!</h2>
  <br>
  <br>
  <div style="text-align: center;">
    <img src='{% static "img/logo.png" %}' alt="Image" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%; margin-top:-35px;" >
    <br>
    <a href="{% url 'account_login' %}" class="btn btn-primary px-3 d-none d-lg-flex" style="width:170px; margin:auto; margin-top: 10px;">Back to log in</a>
  </div>
</div>



{% endblock %}
